/*
@font-face {
  font-family: "Envy Code R";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
}
:root {
  --ct-text-size: 14px;
  --ct-line-height: 1.6;
  --ls-font-family: "Only Emoji", "Envy Code R";
  --ct-page-title-font-family: var(--ls-font-family);
  --ct-code-font-family: "Envy Code R";
}
*/

.CodeMirror-scroll {
  padding-bottom: 48px;
  padding-top: 0;
  overflow-y: hidden !important;
}
.CodeMirror-hscrollbar::-webkit-scrollbar {height: 4px;}
.CodeMirror-vscrollbar::-webkit-scrollbar {display: none;}

/* language marker */
.extensions__code-lang {
  background: var(--ls-secondary-background-color); /* change this color if it doesn't fit your theme */
  opacity: 100%;
  margin-top: 2px; /* change this number if it doesn't fit your theme */
  z-index: 99;
}
.extensions__code-lang:hover {
  opacity: 0;
}
